/* Bootstrap Overrides */

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* ------------------- */

body {
  color: #eee;
  font-size: 16px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-bottom: #111;
}

.nav>li>a.current {
  color: #eee;
  text-decoration: underline;
}

.nav>li>a {
  color: white;
}

.page {
  background-color: #222;
  padding-left: 75px;
  padding-right: 75px;
}

.page-body {
  height: 100vh;
  padding-top: 60px;
  background-color: #565752;
}

.page * {
  margin: auto;
}

h1 {
  font-family: "Dancing Script";
  padding: 0.5em;
}

form {
  color: #111;
}

h1, p, form {
  text-align: center;
}

#head-count form a {
  margin: auto;
}

input, .btn-default {
  vertical-align: middle;
  padding: 6px 0.5em;
  margin: 0.25em auto;
  border: 1px solid #ccc;
  border-radius: 3px;
}