/* Bootstrap Overrides */

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* General Styles */

body {
  color: #eee;
  font-family: monospace;
  font-size: 1.5em;
}

html, body, .page {
  background-color: #1D2142;
}

.navbar {
  background-color: rgba(255,255,255, 0.6);
  border-bottom: #111;
}

.navbar-default .nav>li>a.current, .navbar-default .nav>li>a:hover {
  color: #0F1965;
  font-weight: bold;
  text-decoration: underline;
}

.navbar-default .nav>li>a {
  color: #0F1965;
  font-weight: bold;
}

.page {
  padding-left: 75px;
  padding-right: 75px;
}

.page-body {
  height: 100vh;
  padding-top: 60px;
}

.page * {
  margin: auto;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  padding: 0.5em;
}

form {
  color: #111;
}

#head-count form a {
  margin: auto;
}

input, .btn-default {
  vertical-align: middle;
  padding: 6px 0.5em;
  margin: 0.25em auto;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.fill-line {
  display: inline-block;
  width: 100%;
}

.large {
  font-family: "Dancing Script", cursive;
  font-size: 6em;
  line-height: 1;
}

.medium {
  font-size: 1.5em;
}

.small {
  font-size: 1.15em;
  line-height: 1.5;
}

.align-center {
  text-align: center;
}

.justify {
  text-align: justify;
}

/* Homepage */

#home .page-body {
  background-image: url("/static/image/boston-skyline.png");
  background-repeat: no-repeat;
  background-position: 20% bottom;
  background-size: cover;
  color: #0F1965;
  padding: 60px;
}

#home .text-container {
  float: right;
  text-align: justify;
}

#home .text-container div {
  line-height: 1;
}

/* animations */

.navbar, #home .text-container {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-duration: 1.25s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1.25s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1.25s;
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-360px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-360px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-360px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Registry */

#registry .logo img {
  width: 10em;
  height: auto;
}

#registry .logo {
  display: table;
  margin: 20px auto;
}

/* Our Story */

#ourstory .carousel .item {
  color: black;
  background-color: #fff;
  height: 720px;
  border: 5px solid #333;
}


/* Wedding Party */

#weddingparty .cover-left, #weddingparty .cover-right {
  height: 80vh;
  width: 50%;
  background-color: lightyellow;
  border: 2px solid yellow;
}

#weddingparty .cover-left {
  float: left;
}

#weddingparty .cover-right {
  float: right;
}

/* Travel */
#travel .map {
  height: 550px;
}
#floating-panel .map {
  position: absolute;
  top: 10px;
  left: 20%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  color: #0F1965;
  line-height: 30px;
  padding: 0 10px;
}

/* Venue */

#venue #map-ica {
  height: 80%;
  width: 100%;
  max-width: 550px;
}