// Custom Variables
@text-color-dark: #0f1965;
@background-color-dark: #1d2142;
@light-gray: #cccccc;
@transparent-white: rgba(255,255,255, 0.6);
@default-font-size: 16px;
@thick-white-border: 10px solid white;
@med-white-border: 3px solid white;
@sm-white-border: 2px solid white;
