<a id="rsvp-anchor"></a>
<div id="rsvp" class="container-fluid align-center">
  <div id="rsvp-carousel"
       class="carousel slide"
       data-ride="carousel"
       data-interval="false"
       data-wrap="false">

    <h1>RSVP</h1>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div id="invite-code" class="item active">
        <p>Find your invite code on your invitation, and submit it here:</p>
        <form>
          <input type="text", value="{{ invite_code or '' }}">
          <input type="submit" class="btn btn-default">
        </form>
      </div>
      <div id="head-count" class="item">
        <div id="attendance">
          <form>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default">
                <input type="radio" name="attendance" value="1">
                ACCEPT
              </label>
              <label class="btn btn-default">
                <input type="radio" name="attendance" value="0">
                DECLINE
              </label>
            </div>
          </form>
        </div>

        <div id="names" style="display: none;">
          <p>Who will be joining us?</p>
          <form>
            <div>
              <input type="text">
            </div>
            <button class="add btn btn-default">Add</button>
            <button class="submit btn btn-default" type="submit">Save</button>
          </form>
        </div>

      </div>
      <div id="rsvp-thanks" class="item">
        <p>Thank you! We can't wait to see you this fall.</p>
      </div>
    </div>
    <!-- Controls -->
  </div> <!-- Carousel -->
</div>