<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>EJ & Coco's Wedding</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    
    <!-- Button to toggle the collapsed navbar -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="current"><a href="#home">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#ourstory">Our Story</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#weddingparty">Wedding Party</a></li>
        <li><a href="#venue">Venue</a></li>
        <li><a href="#registry">Registry</a></li>
        <li><a href="#travel">Travel</a></li>
        <li><a href="#todoeat">To Do & Eat</a></li>
        <li><a href="#rsvp">RSVP</a></li>
        <li><a href="#addtoourstory">Add To Our Story</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<a name="home"></a>
<div id="home" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="ourstory"></a>
<div id="ourstory" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="gallery"></a>
<div id="gallery" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="weddingparty"></a>
<div id="weddingparty" class="page container-fluid">
  <div class="page-body"></div>
</div>


<a name="venue"></a>
<div id="venue" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="registry"></a>
<div id="registry" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="travel"></a>
<div id="travel" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="todoeat"></a>
<div id="todoeat" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="rsvp"></a>
<div id="rsvp" class="page container-fluid">
  <div class="page-body">

    <h1>RSVP</h1>

    <div id="invite-code">
      <p>Find your invite code on your invitation, and submit it here:</p>
      <form>
        <input type="text">
        <input type="submit" class="btn btn-default">
      </form>
    </div>

    <div id="head-count">
      <p>Who will be joining us?</p>
      <form>
        <div>
          <input type="text">
        </div>
        <button class="add btn btn-default">Add</button>
        <button class="submit btn btn-default" type="submit">Save</button>
      </form>
    </div>

  </div>
</div>

<a name="addtoourstory"></a>
<div id="addtoourstory" class="page container-fluid">
  <div class="page-body"></div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/static/js/home.js"></script>

</body>
</html>
