<a name="home"></a>
<div id="home" class="page container-fluid">
    <div class="page-body">
        <div class="text-container">
          <div>
            <span class="large">Coco & EJ</span>
            <span class="fill-line"></span>
          </div>
          <div>
            <span class="medium">Sunday, October 9th, 2016</span>
            <span class="fill-line"></span>
          </div>
          <div class="align-center">
            <p class="small">Institute of Contemporary Art</p>
            <p class="small">Boston, Massachusetts</p>
          </div>
        </div> <!-- .text-container -->
    </div>  <!-- .page-body -->
</div>