<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>EJ & Coco's Wedding</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    
    <!-- Button to toggle the collapsed navbar -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="current"><a href="#home">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#ourstory" class="anchor">Our Story</a></li>
        <li><a href="#gallery" class="anchor">Gallery</a></li>
        <li><a href="#weddingparty" class="anchor">Wedding Party</a></li>
        <li><a href="#venue" class="anchor">Venue</a></li>
        <li><a href="#registry" class="anchor">Registry</a></li>
        <li><a href="#travel" class="anchor">Travel</a></li>
        <li><a href="#todoeat" class="anchor">To Do & Eat</a></li>
        <li><a href="#rsvp" class="anchor">RSVP</a></li>
        <li><a href="#addtoourstory" class="anchor">Add To Our Story</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<a name="home"></a>
<div id="home" class="page container-fluid">
  <div class="page-body">

      <h1>Welcome to Coco & EJ's Wedding!</h1>
      <table>
        <body>
          <tr>
            <td>Date: </td>
            <td>Sunday, October 9th, 2016</td>
          </tr>
          <tr>
            <td>Time: </td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Venue: </td>
            <td>Institute of Contemporary Art</td>
          </tr>
        </body>
      </table>

  </div>
</div>

<a name="ourstory"></a>
<div id="ourstory" class="page container-fluid">
  <div class="page-body">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <h2>Page 1</h2>
        </div>

        <div class="item">
          <h2>Page 2</h2>
        </div>

        <div class="item">
          <h2>Page</h2>
        </div>

        <div class="item">
          <h2>Page</h2>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<a name="gallery"></a>
<div id="gallery" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="weddingparty"></a>
<div id="weddingparty" class="page container-fluid">
  <div class="page-body"></div>
</div>


<a name="venue"></a>
<div id="venue" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="registry"></a>
<div id="registry" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="travel"></a>
<div id="travel" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="todoeat"></a>
<div id="todoeat" class="page container-fluid">
  <div class="page-body"></div>
</div>

<a name="rsvp"></a>
<div id="rsvp" class="page container-fluid">
  <div id="rsvp-carousel"
       class="carousel slide page-body"
       data-ride="carousel"
       data-interval="false"
       data-wrap="false">

    <h1>RSVP</h1>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div id="invite-code" class="item active">
        <p>Find your invite code on your invitation, and submit it here:</p>
        <form>
          <input type="text", value="{{ invite_code or '' }}">
          <input type="submit" class="btn btn-default">
        </form>
      </div>
      <div id="head-count" class="item">
        <div id="attendance">
          <form>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default">
                <input type="radio" name="attendance" value="1">
                ACCEPT
              </label>
              <label class="btn btn-default">
                <input type="radio" name="attendance" value="0">
                DECLINE
              </label>
            </div>
          </form>
        </div>

        <div id="names" style="display: none;">
          <p>Who will be joining us?</p>
          <form>
            <div>
              <input type="text">
            </div>
            <button class="add btn btn-default">Add</button>
            <button class="submit btn btn-default" type="submit">Save</button>
          </form>
        </div>

      </div>
      <div id="rsvp-thanks" class="item">
        <p>Thank you! We can't wait to see you this fall.</p>
      </div>
    </div>
    <!-- Controls -->
<!--     <a class="left carousel-control" href="#rsvp-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#rsvp-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a> -->
  </div> <!-- Carousel -->
</div>

<a name="addtoourstory"></a>
<div id="addtoourstory" class="page container-fluid">
  <div class="page-body"></div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/static/js/home.js"></script>

</body>
</html>
