<a id="hotels-anchor"></a>
<div id="hotels" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="cursive text-center">Hotels</h1>
      <div class="row">
        <p class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center small font-light">For your convenience, a discounted rate is available at three nearby hotels. Please call to reserve by September 7th, and reference the Lee/Conway wedding for the special rate.</p>
      </div>
    </div> <!-- .col-xs-12 -->
  </div> <!-- .row -->
  <br>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="panel text-center">
        <div class="panel-heading">
          <h3>Mariott - The Envoy Hotel</h3>
        </div>
        <div class="panel-body">
          <p>617-338-3030</p>
          <p>70 Sleeper Street<br>Boston, Massachusetts</p>
          <p><a href="http://www.marriott.com/hotels/travel/bosak-the-envoy-hotel-autograph-collection/">Visit Website</a></p>
          <p class="text-center">* * *</p>
          <i class="xs">Book by phone to take advantage of the special rate!</i>
        </div>
      </div>
    </div> <!-- .col-md-4 -->
    <div class="col-sm-6 col-md-4">
      <div class="panel text-center">
        <div class="panel-heading">
          <h3>Renaissance Boston<br>Waterfront Hotel</h3>
        </div>
        <div class="panel-body">
          <p>877-901-6632</p>
          <p>606 Congress Street<br>Boston, Massachusetts</p>
          <p><a href="http://resweb.passkey.com/go/LeeConwayWeddingRoomBlock">Visit Website</a></p>
        </div> <!-- .panel-body -->
      </div>
    </div> <!-- .col-md-4 -->
    <div class="col-sm-6 col-md-4">
      <div class="panel text-center">
        <div class="panel-heading">
          <h3>Mariott - Courtyard Boston</h3>
        </div>
        <div class="panel-body">
          <p>617-338-3030</p>
          <p>63 R. Boston Street<br>Boston, Massachusetts</p>
          <p><a href="http://www.marriott.com/hotels/travel/bosso-courtyard-boston-south-boston/">Visit Website</a></p>
          <p class="text-center">* * *</p>
          <i class="xs">Book by phone to take advantage of the special rate!</i>
        </div>
      </div>
    </div> <!-- .col-md-4 -->
  </div> <!-- .row -->
</div> <!-- #hotels -->