<a id="hotels-anchor"></a>
<div id="hotels" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="cursive text-center">Hoteles</h1>
      <div class="row">
        <p class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center small font-light">Un descuento está disponible en cada uno de estos tres hoteles cercanos. Por favor, reserve por télefono antes del día 7 de septiembre, y haga referencia a la boda de Lee/Conway para aprovecharse del descuento.</p>
      </div>
    </div> <!-- .col-xs-12 -->
  </div> <!-- .row -->
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel text-center">
        <div class="panel-heading">
          <h3>Mariott - The Envoy Hotel</h3>
        </div>
        <div class="panel-body">
          <p><a class="link" href="http://www.marriott.com/hotels/travel/bosak-the-envoy-hotel-autograph-collection/">Visit Website</a></p>
          <p>70 Sleeper Street<br>Boston, Massachusetts</p>
          <p><a class="btn btn-default" href="tel:617-338-3030">617-338-3030</a></p>
          <div class="text-center">* * *</div>
          <i class="xs">Book by phone to take advantage of the special rate!</i>
        </div>
      </div>
    </div> <!-- .col-sm-4 -->
    <div class="col-sm-4">
      <div class="panel text-center">
        <div class="panel-heading">
          <h3>Renaissance Boston<br>Waterfront Hotel</h3>
        </div>
        <div class="panel-body">
          <p><a class="link" href="http://resweb.passkey.com/go/LeeConwayWeddingRoomBlock">Visit Website</a></p>
          <p>606 Congress Street<br>Boston, Massachusetts</p>
          <p><a class="btn btn-default" href="tel:877-901-6632">877-901-6632</a></p>
        </div> <!-- .panel-body -->
      </div>
    </div> <!-- .col-sm-4 -->
    <div class="col-sm-4">
      <div class="panel text-center">
        <div class="panel-heading">
          <h3>Mariott - Courtyard Boston</h3>
        </div>
        <div class="panel-body">
          <p><a class="link" href="http://www.marriott.com/hotels/travel/bosso-courtyard-boston-south-boston/">Visit Website</a></p>
          <p>63 R. Boston Street<br>Boston, Massachusetts</p>
          <p><a class="btn btn-default" href="tel:617-338-3030">617-338-3030</a></p>
          <div class="text-center">* * *</div>
          <i class="xs">Book by phone to take advantage of the special rate!</i>
        </div>
      </div>
    </div> <!-- .col-sm-4 -->
  </div> <!-- .row -->
</div> <!-- #hotels -->