<a name="hotels"></a>
<div id="hotels" class="page container-fluid">
  <div class="page-body">

    <div class="row">
      <div class="col-xs-12 col-md-5">

        <div class="row">
          <div class="col-xs-12">
            <div class="panel">
              <div class="panel-heading">
                <h2>Boston Logan International Airport (BOS)</h2>
              </div>
              <div class="panel-body">
                <p class="justify">Guests traveling by air should plan to fly in to Logan Airport (Airport Code: BOS). From there, subway users can take the Silver Line to the "Court House" stop, which is a 2 minute walk from the Envoy Hotel.</p>
              </div>
            </div>
          </div> <!-- .col-xs-12 -->
        </div> <!-- .row -->
        <br>
        <div class="row">
          <div class="col-xs-12">
            <div class="panel">
              <div class="panel-heading">
                <h2>Hotels</h2>
              </div>
              <div class="panel-body">
                <p class="justify">For your convenience, a discounted rate is available at three nearby hotels. Please reserve by September 7th, and reference the Lee/Conway wedding for the special rate.</p>
                <br>
                <p>Book on their website: <a href="http://theenvoyhotel.com/">www.theenvoyhotel.com</a></p>
              </div>
            </div>
          </div> <!-- .col-xs-12 -->
        </div> <!-- .row -->
        <br>
      </div> <!-- .col-md-4 -->
    </div> <!-- .row -->
    </div>
  </div> <!-- .page-body -->
</div> <!-- .page -->