<a id="home-anchor"></a>
<div class="header container-fluid">
    <div class="overlay"></div>
    <div class="text-container">
        <p class="large text-center">Coco & EJ</p>
        <p class="medium text-center">9 de octubre, 2016</p>
        <p class="small text-center">Institute of Contemporary Art</p>
        <p class="small text-center">Boston, Massachusetts</p>
        <p class="medium text-center">
            <span class="label label-default">18:30hrs</span>
        </p>
        <p class="text-center">
            <a href="#gallery-anchor" class="glyphicon glyphicon-chevron-down medium smooth-scroll animated bounce"></a>
        </p>
    </div> <!-- .text-container -->
</div>