<a name="home"></a>
<div id="home" class="page container-fluid">
    <div class="page-body">
        <div class="text-container animated slideInDown">
            <p class="large align-center">Coco & EJ</p>
            <p class="medium align-center">Sunday, October 9th, 2016</p>
            <p class="small align-center">Institute of Contemporary Art</p>
            <p class="small align-center">Boston, Massachusetts</p>
        </div> <!-- .text-container -->
    </div>  <!-- .page-body -->
</div>