<a id="registry-anchor"></a>
<div id="registry" class="container-fluid">
  <h1 class="cursive text-center">Registry</h1>
  <div class="col-sm-6 col-sm-offset-3">
    <p class="small text-center row">
      Above all, the presence of friends and family at our wedding is the best gift we could hope for! However, if you'd like to choose an additional gift, click a logo below to view one of our wedding registries:
    </p>
    <div class="row">
      <div class="col-xs-4">
        <a class="logo" target="_blank" href="http://www.macys.com/registry/wedding/guest/?registryId=6612462">
          <img class="macys img-responsive" src="{{ url_for('static', filename='img/macys-logo.jpg') }}">
        </a>
      </div>
      <div class="col-xs-4">
        <a class="logo" target="_blank" href="https://www.zola.com/registry/cocoandej">
          <img class="img-responsive" src="{{ url_for('static', filename='img/zola-logo.png') }}" data-pin-nopin=true role="button">
        </a>
      </div>
      <div class="col-xs-4">
        <a class="logo" target="_blank" href="https://smile.amazon.com/wedding/eric-conway-carolyn-lee-boston-october-2016/registry/309LYH9Z6RCAP">
          <img class="amazon img-responsive" src="{{ url_for('static', filename='img/amazon-logo.jpg')}}">
        </a>
      </div>
    </div>
  </div>
</div>