<a id="registry-anchor"></a>
<div id="registry" class="container-fluid section-dark">
  <h1 class="cursive text-center">Registry</h1>
  <div class="col-sm-6 col-sm-offset-3">
    <p class="small justify">
      Above all, the presence of friends and family at our wedding is the best gift we could hope for! However, if you'd like to choose an additional gift, click the logo below to view our wedding registry:
    </p>
    <a class="logo" target="_blank" href="https://www.zola.com/registry/cocoandej">
      <img src="/static/img/zola-logo.png" data-pin-nopin=true role="button">
    </a>
  </div>
</div>