<a name="travel"></a>
<div id="travel" class="page container-fluid">
  <div class="page-body">

    <div class="row">
      <div class="col-xs-12 col-md-5">

        <div class="row">
          <div class="col-xs-12">
            <h2>The Envoy Hotel</h2>
            <br>
            <p class="justify">For your convenience, a discounted rate is available at the Envoy Hotel, just a 5 minute walk from the Institute of Contemporary Art.</p>
            <br>
            <p>Book on their website: <a href="http://theenvoyhotel.com/">www.theenvoyhotel.com</a></p>
          </div> <!-- .col-xs-12 -->
        </div> <!-- .row -->
            <br>

        <div class="row">
          <div class="col-xs-12">
            <h2>Boston Logan International Airport (BOS)</h2>
            <br>
            <p class="justify">Guests traveling by air should plan to fly in to Logan Airport (Airport Code: BOS). From there, subway users can take the Silver Line to the "Court House" stop, which is a 2 minute walk from the Envoy Hotel.</p>
          </div> <!-- .col-xs-12 -->
        </div> <!-- .row -->

      </div> <!-- .col-md-4 -->
      <div class="hidden-xs col-md-7">
        <!-- GOOGLE MAP -->
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group">
              <b class="input-group-addon">Start: </b>
              <select class="input-group-select-right form-control" id="start">
                <option value="ChIJ51dcSH5w44kR2w1maWhcAGI">The Envoy Hotel</option>
                <option value="ChIJN0na1RRw44kRRFEtH8OUkww">Boston Logan International Airport</option>
                <option value="ChIJxTCEOnlw44kROtPtIpMFsXo">Institute of Contemporary Art</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <b class="input-group-addon">End: </b>
              <select class="input-group-select-left form-control" id="end">
                <option value="ChIJxTCEOnlw44kROtPtIpMFsXo">Institute of Contemporary Art</option>
                <option value="ChIJ51dcSH5w44kR2w1maWhcAGI">The Envoy Hotel</option>
                <option value="ChIJN0na1RRw44kRRFEtH8OUkww">Boston Logan International Airport</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="map"></div>
          </div>
        </div>
      </div> <!-- .col-md-8 -->
    </div> <!-- .row -->

  </div> <!-- .page-body -->
</div> <!-- .page -->