<a name="travel"></a>
<div id="travel" class="page container-fluid">
  <div class="page-body">

    <div class="row">
      <div class="col-xs-12 col-md-5">

        <div class="row">
          <div class="col-xs-12">
            <div class="panel">
              <div class="panel-heading">
                <h2>Boston Logan International Airport (BOS)</h2>
              </div>
              <div class="panel-body">
                <p class="justify">Guests traveling by air should plan to fly in to Logan Airport (Airport Code: BOS). From there, subway users can take the Silver Line to the "Court House" stop, which is a 2 minute walk from the Envoy Hotel.</p>
              </div>
            </div>
          </div> <!-- .col-xs-12 -->
        </div> <!-- .row -->
        <br>
      </div> <!-- .col-md-4 -->
      <div class="col-xs-12 col-md-7">
        <!-- GOOGLE MAP -->
        <div class="row">
          <div class="col-xs-12">
            <div class="map"></div>
          </div>
        </div>
      </div> <!-- .col-md-8 -->
    </div> <!-- .row -->
    </div>
  </div> <!-- .page-body -->
</div> <!-- .page -->

<!-- Map controls -->
<div id="map-controls" class="container-fluid text-dark">
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon">
          Start
        </span>
          <select class="form-control input-group-select" id="start">
            <option value="ChIJ51dcSH5w44kR2w1maWhcAGI">Envoy Hotel</option>
            <option value="ChIJN0na1RRw44kRRFEtH8OUkww">Boston Logan International Airport</option>
            <option value="ChIJxTCEOnlw44kROtPtIpMFsXo">Institute of Contemporary Art</option>
          </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon">
          End
        </span>
        <select class="form-control input-group-select" id="end">
          <option value="ChIJxTCEOnlw44kROtPtIpMFsXo">Institute of Contemporary Art</option>
          <option value="ChIJ51dcSH5w44kR2w1maWhcAGI">Envoy Hotel</option>
          <option value="ChIJN0na1RRw44kRRFEtH8OUkww">Boston Logan International Airport</option>
        </select>
      </div>
    </div>
  </div>
</div>
