<a name="weddingparty"></a>
<div id="weddingparty" class="page container">
  <div class="page-body">
    <div class="row">
      <div id="bridesmaids" class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="img-card">
              <img src="/static/image/victoria.jpg" alt="Headshot of Victoria Lee" data-pin-nopin=true>
              <div class="caption align-center">
                <h4>Victoria Lee</h4>
                <h5>Maid of Honor</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="img-card">
              <img src="/static/image/vivian.jpg" alt="Headshot of Vivian Lee" data-pin-nopin=true>
              <div class="caption align-center">
                <h4>Vivian Lee</h4>
                <h5>Bridesmaid</h5>
              </div>
            </div>
          </div>
        </div> <!-- .row -->
        <div class="row">
          <div class="col-sm-6">
            <div class="img-card">
              <img src="/static/image/jamie.jpg" alt="Headshot of Jamie Cooper" data-pin-nopin=true>
              <div class="caption align-center">
                <h4>Jamie Cooper</h4>
                <h5>Bridesmaid</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="img-card">
              <img src="http://www.placehold.it/200x200" alt="Headshot of Rhiannon Monta" data-pin-nopin=true>
              <div class="caption align-center">
                <h4>Rhiannon Monta</h4>
                <h5>Bridesmaid</h5>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- #bridesmaids -->
      <div id="groomsmen" class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="img-card">
              <img src="/static/image/chris.jpg" alt="Headshot of Chris Conway" data-pin-nopin=true>
              <div class="caption align-center">
                <h4>Chris Conway</h4>
                <h5>Best Man</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="img-card">
              <img src="http://placehold.it/200x200" alt="Headshot of Ryan Conway" data-pin-nopin=true>
              <div class="caption align-center">
                <h4>Ryan Conway</h4>
                <h5>Groomsman</h5>
              </div>
            </div>
          </div>
        </div> <!-- .row -->
        <div class="row">
          <div class="col-sm-6">
            <div class="img-card">
              <img src="/static/image/wayne.jpg" alt="Headshot of Wayne Baylor" data-pin-nopin=true>
              <div class="caption align-center">
                <h4>Wayne Baylor</h4>
                <h5>Groomsman</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="img-card">
              <img src="http://placehold.it/200x200" alt="Headshot of Vernon Sydnor" data-pin-nopin=true>
              <div class="caption align-center">
                <h4>Vernon Sydnor</h4>
                <h5>Groomsman</h5>
              </div>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- #groomsmen -->

    </div>
  </div>
</div>
